:local(.listPhoto){
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
:local(.listItem){
    display: block;
    min-width: 150px;
    min-height: 200px;
    max-width: 200px;
    max-height: 250px;
}
:local(.author){
    height: 50px;;
    width: 100%;
    display: flex;
}
:local(.authorFace) {
    width: 20px;
    height: 20px;
}
:local(.authorName) {

}