:local(.listPhoto){
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
:local(.listItem){
    display: block;
    width: 200px;
    height: 200px;
    
}
:local(.photo){
    width: 180px;
    height: 140px;
    display: flex;
    justify-content: center;
}
:local(.img) {
    max-width: 180px;
    max-height: 140px;
}
:local(.author){
    height: 40px;;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
:local(.authorFace) {
    width: 20px;
    height: 20px;
}
:local(.authorName) {

}